export WALLET_DB_USER=user
export WALLET_DB_PASS=pass
export WALLET_DB_NAME=wallet_db
export WALLET_DB_HOST=localhost
export WALLET_DB_PORT=5432

# Wallet GraphQL
export GRAPHQL_PORT=8082

# Callback service
export CALLBACK_PORT=8081

export NATS_PORT=4222
export NATS_MGMT_PORT=8222
export NATS_URL=nats://localhost:4222
export NATS_STREAM=PAYMENTS_STREAM
export NATS_SUBJECT=events.payments

export ROZETKA_CALLBACK_URL=<NGROK-PROVIDED-URL>/notify

## DO NOT CHANGE THESE ENVS -- ROZETKA ENDPOINT & ITS TEST DATA
export ROZETKA_BASE_URL=https://api.rozetkapay.com
export ROZETKA_USERNAME=a6a29002-dc68-4918-bc5d-51a6094b14a8
export ROZETKA_PASSWORD=XChz3J8qrr
